jsonschema            ==  4.5.1
pip                   ==  23.1.2
requests              ==  2.27.1
streamlit             ==  1.22.0
streamlit-lottie      ==  0.0.3
toml                  ==  0.10.2
webencodings          ==  0.5.1
streamlit_option_menu ==  0.3.6
